##### Importing needed Packages

In [100]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt 
import seaborn as sns

### Loading Transactions sheet and explore it

In [101]:
transactions_df = pd.read_csv(r'E:\MegaMarket_Project\megaMarket\changes\Maven CSV - NPz files\project_transactions.csv', 
                              delimiter=',')


transactions_df.head()

,household_key,BASKET_ID,DAY,PRODUCT_ID,QUANTITY,SALES_VALUE,STORE_ID,RETAIL_DISC,WEEK_NO,COUPON_DISC,COUPON_MATCH_DISC
0,1364,26984896261,1,842930,1,2.19,31742,0.00,1,0.0,0.0
1,1364,26984896261,1,897044,1,2.99,31742,-0.40,1,0.0,0.0
2,1364,26984896261,1,920955,1,3.09,31742,0.00,1,0.0,0.0
3,1364,26984896261,1,937406,1,2.50,31742,-0.99,1,0.0,0.0
4,1364,26984896261,1,981760,1,0.60,31742,-0.79,1,0.0,0.0

In [102]:
'''Checking missing data'''
transactions_df.isna().sum()

household_key        0
BASKET_ID            0
DAY                  0
PRODUCT_ID           0
QUANTITY             0
SALES_VALUE          0
STORE_ID             0
RETAIL_DISC          0
WEEK_NO              0
COUPON_DISC          0
COUPON_MATCH_DISC    0
dtype: int64

In [103]:
'''Modify datatypes for all columns'''
transactions_df.dtypes

household_key          int64
BASKET_ID              int64
DAY                    int64
PRODUCT_ID             int64
QUANTITY               int64
SALES_VALUE          float64
STORE_ID               int64
RETAIL_DISC          float64
WEEK_NO                int64
COUPON_DISC          float64
COUPON_MATCH_DISC    float64
dtype: object

In [104]:
transactions_df.info(memory_usage='deep')  #usage: 180.1MB

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2146311 entries, 0 to 2146310
Data columns (total 11 columns):
 #   Column             Dtype
---  ------             -----
 0   household_key      int64
 1   BASKET_ID          int64
 2   DAY                int64
 3   PRODUCT_ID         int64
 4   QUANTITY           int64
 5   SALES_VALUE        float64
 6   STORE_ID           int64
 7   RETAIL_DISC        float64
 8   WEEK_NO            int64
 9   COUPON_DISC        float64
 10  COUPON_MATCH_DISC  float64
dtypes: float64(4), int64(7)
memory usage: 180.1 MB

In [105]:
transactions_df.describe().round(2)

,household_key,BASKET_ID,DAY,PRODUCT_ID,QUANTITY,SALES_VALUE,STORE_ID,RETAIL_DISC,WEEK_NO,COUPON_DISC,COUPON_MATCH_DISC
count,2146311.00,2.146311e+06,2146311.00,2146311.00,2146311.00,2146311.00,2146311.00,2146311.00,2146311.00,2146311.00,2146311.00
mean,1056.23,3.404897e+10,389.51,2884714.94,100.97,3.11,3267.94,-0.53,56.33,-0.02,-0.00
std,605.01,4.723748e+09,190.05,3831949.29,1152.36,4.19,9122.39,1.23,27.15,0.21,0.04
min,1.00,2.698490e+10,1.00,25671.00,0.00,0.00,1.00,-130.02,1.00,-55.93,-7.70
25%,548.00,3.040798e+10,229.00,917231.00,1.00,1.29,330.00,-0.68,33.00,0.00,0.00
50%,1042.00,3.281176e+10,392.00,1027960.00,1.00,2.00,372.00,0.00,57.00,0.00,0.00
75%,1581.00,4.012804e+10,555.00,1132771.00,1.00,3.49,422.00,0.00,80.00,0.00,0.00
max,2099.00,4.230536e+10,711.00,18316298.00,89638.00,840.00,34280.00,3.99,102.00,0.00,0.00

In [106]:
'''
1. Discounts has small values and can be replaced with float32
2. WEEK_NO has small values int32
'''


#way1
transactions_df.astype(
    {
    'RETAIL_DISC': 'float32', 
    'COUPON_DISC': 'float32', 
    'COUPON_MATCH_DISC': 'float32', 
    'WEEK_NO': 'int32'
    }
    
)
# doesn't change --> memory usage: 180.1 MB

# transactions_df.info(memory_usage='deep')



transactions_df = pd.read_csv(r'E:\MegaMarket_Project\megaMarket\changes\Maven CSV - NPz files\project_transactions.csv', 
                              delimiter=',', 
                              dtype= {'RETAIL_DISC': 'float32', 
                                    'COUPON_DISC': 'float32', 
                                    'COUPON_MATCH_DISC': 'float32', 
                                    'WEEK_NO': 'int32'
                                     }
                            )


transactions_df.info(memory_usage='deep')  #memory usage: 147.4 MB

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2146311 entries, 0 to 2146310
Data columns (total 11 columns):
 #   Column             Dtype
---  ------             -----
 0   household_key      int64
 1   BASKET_ID          int64
 2   DAY                int64
 3   PRODUCT_ID         int64
 4   QUANTITY           int64
 5   SALES_VALUE        float64
 6   STORE_ID           int64
 7   RETAIL_DISC        float32
 8   WEEK_NO            int32
 9   COUPON_DISC        float32
 10  COUPON_MATCH_DISC  float32
dtypes: float32(3), float64(1), int32(1), int64(6)
memory usage: 147.4 MB

##### Check count of our dimensions in transaction model

In [107]:
'''unique values for products IDs dimension in transactional model'''

print(transactions_df['PRODUCT_ID'].count())
transactions_df['PRODUCT_ID'].nunique()

2146311

84138

In [108]:
'''unique values for household dimension in transactional tmodel'''
print(transactions_df['household_key'].count())
transactions_df['household_key'].nunique()

2146311

2099

In [109]:
'''explore the discount calculation'''
transactions_df[['RETAIL_DISC', 'COUPON_DISC', 'COUPON_MATCH_DISC']].query("COUPON_DISC != 0 and COUPON_MATCH_DISC != 0 ")

         RETAIL_DISC  COUPON_DISC  COUPON_MATCH_DISC
123            -0.69        -0.40              -0.40
143            -0.90        -0.75              -0.25
199            -0.49        -0.55              -0.45
509            -1.87        -2.25              -0.75
584            -0.89        -0.55              -0.45
...              ...          ...                ...
2146008         0.00        -0.50              -0.50
2146016        -0.30        -0.35              -0.35
2146026         0.00        -0.40              -0.40
2146031         0.00        -0.70              -0.30
2146033         0.00        -0.50              -0.50

[13823 rows x 3 columns]

## Create new calculated columns based on Business

##### 
1. total_discount  = RETAIL_DISC +  COUPON_DISC 
2. discount %  =  abs(total_discount / sales_value)  ---> As total_discount increase, discount_percentage increase (selling product will be highly less than actual product price)
3. drop main discounts columns (RETAIL_DISC, COUPON_DISC, COUPON_MATCH_DISC)

In [110]:
transactions_df = transactions_df.assign(
    total_discount = transactions_df['RETAIL_DISC'] + transactions_df['COUPON_DISC'], 
    discount_percent = lambda var: (var['total_discount'].abs() / var['SALES_VALUE']).round(3)
).drop(['RETAIL_DISC', 'COUPON_DISC', 'COUPON_MATCH_DISC'], axis=1).reindex(['household_key', 'BASKET_ID', 'DAY', 'WEEK_NO', 'PRODUCT_ID', 'STORE_ID', 'QUANTITY', 'SALES_VALUE', 'total_discount', 'discount_percent'], axis=1)
# .query("total_discount != 0")

In [111]:
transactions_df

,household_key,BASKET_ID,DAY,WEEK_NO,PRODUCT_ID,STORE_ID,QUANTITY,SALES_VALUE,total_discount,discount_percent
0,1364,26984896261,1,1,842930,31742,1,2.19,0.00,0.000
1,1364,26984896261,1,1,897044,31742,1,2.99,-0.40,0.134
2,1364,26984896261,1,1,920955,31742,1,3.09,0.00,0.000
3,1364,26984896261,1,1,937406,31742,1,2.50,-0.99,0.396
4,1364,26984896261,1,1,981760,31742,1,0.60,-0.79,1.317
...,...,...,...,...,...,...,...,...,...,...
2146306,1598,42305362535,711,102,92130,3228,1,0.99,0.00,0.000
2146307,1598,42305362535,711,102,114102,3228,1,8.89,0.00,0.000
2146308,1598,42305362535,711,102,133449,3228,1,6.99,0.00,0.000
2146309,1598,42305362535,711,102,6923644,3228,1,4.50,-0.49,0.109
2146310,1598,42305362535,711,102,14055192,3228,1,6.99,0.00,0.000

## Overall Statistics (Measures)

#####
1. total_sales = sum(`SALES_VALUE`)
2. total_discount = sum(`total_discount`)
3. overall_discount_percent = sum(`total_discount`) / sum(`SALES_VALUE`)
4. quantity_sold = sum(`QUANTITY`)
5. Max quantity sold in a single row. Inspect the row as well. Does this have a high discount percentage?
6. Total_sales_basket_id =  sum(`SALES_VALUE`) / nunique `basket_id`.
7. Total_sales_household_id = sum(`SALES_VALUE`) / nunique `household_key`. 
8. What was the highest quantiy sold for a single item in a single row?

In [114]:
'''total_sales = sum(`SALES_VALUE`)'''
total_sales = transactions_df['SALES_VALUE'].sum().round(2)
total_sales

6666243.5

In [116]:
'''total_discount = sum(`total_discount`)'''
total_discount = transactions_df['total_discount'].sum()
total_discount

-1178658.0

In [119]:
'''overall_discount_percent = sum(total_discount) / sum(SALES_VALUE)'''
overall_discount_percent = (transactions_df['total_discount'].sum() / transactions_df['SALES_VALUE'].sum()).round(2)
overall_discount_percent

-0.18

In [121]:
'''quantity_sold = sum(`QUANTITY`)'''
quantity_sold = transactions_df['QUANTITY'].sum()
quantity_sold

216713611

In [129]:
'''Max quantity sold in a single row. Inspect the row as well. Does this have a high discount percentage?'''
transactions_df.sort_values('QUANTITY', ascending=False)[:1]

#or 
transactions_df.iloc[[transactions_df['QUANTITY'].argmax()]]

,household_key,BASKET_ID,DAY,WEEK_NO,PRODUCT_ID,STORE_ID,QUANTITY,SALES_VALUE,total_discount,discount_percent
1442095,630,34749153595,503,73,6534178,384,89638,250.0,-13.45,0.054

In [132]:
'''Total_sales_basket_id =  sum(SALES_VALUE) / nunique basket_id.'''
total_sales_basket_ids = (transactions_df['SALES_VALUE'].sum() / transactions_df['BASKET_ID'].nunique()).round(2)
total_sales_basket_ids

28.62

In [136]:
'''Total_sales_household_id = sum(SALES_VALUE) / nunique household_key.'''
total_sales_household_ids = (transactions_df['SALES_VALUE'].sum() / transactions_df['household_key'].nunique()).round(2)
total_sales_household_ids

3175.91

In [139]:
'''What was the highest quantiy sold for a single item in a single row?'''
transactions_df.groupby('PRODUCT_ID')[['QUANTITY']].sum().sort_values('QUANTITY', ascending=False)[:1]

             QUANTITY
PRODUCT_ID
6534178     180705254